.change_password_background
{
    position: fixed;
    width: 100vw;
    height: 107vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.31);
    display: flex;
    align-items: center;
}


.change_modal_container_homepage
{
    background-color: white;
    border: 2px solid #A3AAD9;
    border-radius: 10px;
    width: 40%;
    min-width: 300px;
    max-height: 60vh;
    padding-bottom: 40px;
    margin-inline: auto;
}


.change_form_password_settings_change {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    width: 50%;
}

.label_container_password_change_home
{
    width: 100%;
    margin-inline: auto;
    display: flex;
    gap: 15px
}

.change_button_Password_homepage {
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    width: auto;
    border: 2px solid #A3AAD9;
    font-size: 20px;
    margin-inline: auto;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    color: #5661AC;
    background-color: #E0E0E0;
}

.change_button_disabled_Password_homepage {
    height: 40px;
    border-radius: 10px;
    width: auto;
    border: 2px solid #A3AAD9;
    font-size: 20px;
    margin-inline: auto;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    color: #6972ac;
    background-color: #c6c6c6;
}

.pass_requir_txt_homepage
{
    color:#7984D2;

}

.change_button_Password_homepage:hover {
    background-color: #b7b7b7;
}

.toggle_visibility_password_homepage
{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.3s ease;
    color: #5661AC;
    background-color: #E0E0E0;
    border: 2px solid #A3AAD9;
    border-radius: 10px;
}
.toggle_visibility_password_homepage:hover
{
    background-color: #b7b7b7;
}


.password_field_container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 15px; 
}

.toggle_password_button {
    cursor: pointer;
    background-color: #E0E0E0;
    border: 2px solid #A3AAD9;
    border-radius: 5px;
    color: #5661AC;
    padding: 0 10px;
    font-size: 16px;
    height: 40px;
    transition: background-color 0.3s ease;
}

.toggle_password_button:hover {
    background-color: #c6c6c6;
}

.change_cancel_PASSCHANGE {
    margin-top: 20px;
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: #7984D2;
}

.change_cancel_PASSCHANGE:hover {
    color: #596296;
}

@media screen and (max-height: 850px), screen and (max-width: 500px) {
    .change_modal_container_homepage {
        height: 610px;
        overflow-y: auto;
    }
    .change_button_Password_homepage{
        margin-bottom: 10px;
    }
    .label_container_password_change_home .change_label {
        font-size: 16px;
    }
    .toggle_visibility_password_homepage {
        font-size: 14px;
    }
    .change_cancel_PASSCHANGE {
        margin-top: 0;
    }
}