.add_trans_modal_container {
    position: fixed;
    top: 0;
    left: 0;
    margin-inline: auto;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.42);
}

.add_trans_modal_container_inside {
    background-color: white;
    border: 2px solid #A3AAD9;
    border-radius: 10px;
    margin-inline: auto;
    width: 90vw;
    max-width: 900px;
    margin-top: 35px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
}

.add_trans_input_form_container {
    margin-top: 20px;
    width: 50%;
}

.add_trans_title {
    padding-top: 0px;
    font-size: clamp(25px, 2vw, 35px);
    text-align: center;
    color: #5661AC;
    font-weight: normal;
    font-family: Arial, sans-serif;
}

.add_trans_form_input_group {
    width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add_trans_input_label {
    font-size: 25px;
    color: #5661AC;
    margin-bottom: 2px;
}

.required_field {
    color: red;
}

.add_trans_input_field {
    padding-inline: 10px;
    font-size: 20px;
    height: 40px;
    outline: 1px solid rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.add_trans_add_btn {
    border: 1px solid rgb(0,0,0,0);
    background-color: #ecebeb;
    border-radius: 30px;
    font-size: 25px;
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    margin-inline: auto;
    cursor: pointer;
    transition: background-color .3s ease;
}

.add_trans_add_btn:hover {
    background-color: #d3d3d3;
}

.add_trans_close_text_container
{
    display: flex;
    justify-content: center;
}

.add_trans_close_text {
    text-align: center;
    color: #5661AC;
    text-decoration: underline;
    cursor: pointer;
    transition: color .3s ease;
}

.add_trans_close_text:hover {
    color: #d3d3d3;
}

.add_trans_added_box_container {
    margin-top: 20px;
    width: 50%;
}

.add_trans_added_box {
    padding: 10px;
    border-radius: 10px;
    margin-inline: auto;
    background-color: #e0e0e0;
    width: 85%;
    height: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: scroll;
}

.add_trans_added_save_exit_container {
    margin-top: 20px;
    text-align: center;
}

.add_trans_added_transaction_item {
    margin-top: 15px;
    background-color: white;
    width: 90%;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);

}

.add_trans_added_item_text {
    font-size: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.add_trans_added_text {
    margin: 5px;
}

.add_trans_recurring_group {
    width: 60%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.add_trans_recurring_label {
    font-size: 25px;
    color: #5661AC;;
    margin-right: 10px;
}

.add_trans_recurring_checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 3px;
    accent-color: rgb(158, 158, 158); /* Optional: to match the theme */
}



@media only screen and (max-width: 1000px) {
    .add_trans_modal_container_inside {
        flex-direction: column;
    }
    .add_trans_add_btn{
        border: 1px solid rgb(0,0,0,0);
        background-color: #ecebeb;
        border-radius: 30px;
        font-size: 18px;
        margin-top: 10px;
        width: 200px;
        padding: 10px;
        margin-inline: auto;
        cursor: pointer;
        transition: background-color .3s ease;
    }

    .add_trans_input_form_container, .add_trans_added_box_container {
        width: 95%;
        margin-inline: auto;
    }

    .add_trans_title {
        font-size: 28px;
        font-weight: bold;
    }

    .add_trans_input_label {
        font-size: 20px;
        color: #5661AC;
        margin-bottom: 2px;
    }

    .add_trans_form_input_group {
        width: 90%;
    }

    .add_trans_added_box_container {
        padding-bottom: 10px;
    }

    .add_trans_added_item_text {
        text-align: center;
        font-size: 15px;
        flex-direction: column;
    }

    .add_trans_recurring_group {
        width: 90%; /
    }

    .add_trans_recurring_label {
        font-size: 16px; /
    }

    .add_trans_recurring_checkbox {
        width: 18px;
        height: 18px;
    }
}
