/* File: frontend/src/CSS Files/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.LoginContainer * {
    margin: 0 auto;
    padding: 0;
}

.LoginContainer {
  overflow: hidden; /* Prevents overflow in both x and y directions */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  margin: 0; /* Optional: Removes default margin */
  padding: 0; /* Optional: Removes default padding */
}




.Login_box
{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    width:  35dvw;
    min-width: 420px;
    height: auto;
    flex-direction: column;
      
}

.Login_Title
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A3AAD9;
    width: 30dvw;
    min-width: 290px;
    height: 150px;
    border-radius: 10px;
    
    
}

.LoginContainer h1{
    color: #FFFFFF;
}

.login_section
{
    margin-top: 30px;
    width: 100%;
    height: auto;
    background-color: #F2F4F7;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline:2px solid #A3AAD9;
    border-radius: 5px;
    
}

.email_section {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    height: 116px;
    width: auto;
    display: flex;
    align-items: flex-start; /* Keep this to align children to the left */
}

.email_text, .password_text {
    color: #5661AC;
    margin-left: 10px; /* Reset any default margins if needed Allowed it to go to left side*/
}
.password_section
{
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    height: 116px;
    width: auto;
    display: flex;
    align-items: flex-start;
}

.LoginContainer input {

    height: 77px;
    width: 25dvw;
    min-width: 250px;
    background-color: #E0E0E0;
    outline:2px solid #A3AAD9;
    border-radius: 4px;
    padding-left: 15px;
    font-size: 18px;
    border: none;
}


.forgot_password
{
    color:#5661AC;
    margin: 0;
    align-self: flex-end;
    margin-right: 5px;
    margin-top: 5px;
}

.log_in_box
{
    margin-top: 20px;
    width: 20dvw;
    min-width: 250px;
    height: 77px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline:2px solid #A3AAD9;
    border-radius: 10px;
    border: none;
}
.LoginContainer h2{
    color: #5661AC;
}
.Create_account
{
    margin-top: 15px;  
    color: #7984D2;
    margin-bottom: 15px;
}