.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../Assets/Background.png");
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: auto;
  }

  .logo-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links a, .navbar-links div {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }

  .navbar-profile {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .profile-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: transform .2s ease-in-out;
  }
  .profile-icon:hover
  {
    transform: scale(1.15);
  }

  .navbar-profile a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .navbar .logout_text
  {
    transition: transform .2s ease-in, color .2s, ease-in;
    color: black;
  }
  .navbar .logout_text:hover
  {
    color: rgb(129, 129, 129);
    cursor: pointer;
  }

