/* File: frontend/src/CSS Files/Login.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.RegisterContainer *
{
    margin: 0 auto;
    padding: 0;
}

.RegisterContainer {
  overflow-x: hidden; /* Prevents overflow in both x and y directions */
  height: 100vh; /* Full height of the viewport */
  width: 100vw; /* Full width of the viewport */
  margin: 0; /* Optional: Removes default margin */
  padding: 0; /* Optional: Removes default padding */
}

.Register_box
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
    width:  37dvw;
    min-width: 420px;
    height: auto;
    flex-direction: column;
      
}

.Register_Title
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A3AAD9;
    width: 32dvw;
    min-width: 350px;
    height: 150px;
    border-radius: 10px;
    
    
}

.RegisterContainer h1{
    color: #FFFFFF;
}

.Register_section
{
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: #F2F4F7;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    outline:2px solid #A3AAD9;
    border-radius: 5px;
    
}

.RegisterContainer .email_section {
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start; /* Keep this to align children to the left */
}

.RegisterContainer .email_text, .password_text, .username_text {
    color: #5661AC;
    margin-left: 10px; /* Reset any default margins if needed Allowed it to go to left side*/
}

.RegisterContainer .username_section
{
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start; /* Keep this to align children to the left */
}
.pass_requir_txt
{
    margin-top: 20px;
    width: 25dvw;
    min-width: 250px;
    margin-bottom: 2px;
    font-size: 19px;
    color: #7984D2;
}

.password_section
{
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start;
}

.confirm_password_section
{
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: auto;
    display: flex;
    align-items: flex-start;
}

.RegisterContainer input{

    max-height: 77px;
    height: 6.5dvh;
    min-height: 20px;

    width: 23dvw;
    min-width: 240px;
    background-color: #E0E0E0;
    outline:2px solid #A3AAD9;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 18px;
    border: none;
}


.Register_in_box
{
    margin-top: 20px;
    width: 20dvw;
    min-width: 250px;
    height: 77px;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline:2px solid #A3AAD9;
    border-radius: 10px;
    border: none;
    transition: background-color .2s, box-shadow .2s;
}

.Register_in_box:hover
{
    background-color: #D0D0D0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.RegisterContainer h2{
    color: #5661AC;
}
.Log_in
{
    margin-top: 20px;  
    color: #7984D2;
    margin-bottom: 15px;
}


.create_or_login
{
    transition: color .2s ease, transform .2s ease;
}

.create_or_login:hover
{
    color: #5567B3;
    transform:scale(1.2)
}