.settings_modal_bg_container {
    position: fixed;
    width: 100vw;
    height: 107vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.31);
}

.settings_modal_container {
    margin-top: 5%;
    margin-inline: auto;
    width: 80vw;
    height: fit-content;
    padding-bottom: 20px;
    min-height: 80vh;
    position: relative;
    background-color: white;
    border: 3px solid #8884d8;
    border-radius: 10px;
}

/* Overlay */

.change_password_overlay {
    /* Center the overlay */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F4F7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.change_password_fields label {
    display: block;
    margin-bottom: 10px;
}

.change_password_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back_button_Change_password_home
{
    color: #7984D2;
    align-self: flex-end;
    text-decoration: underline;
    cursor: pointer;
    transition: color .3s ease;
    border: none;
    background-color: transparent;
}

.back_button_Change_password_home:hover
{
    color: #596296;;
}

 .save_button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save_button {
    background-color: #4caf50;
    color: #fff;
}



.settings_modal_title_band {
    width: 100%;
    position: relative;
    background-color: rgba(163, 170, 217, 0);
    display: flex;
    justify-content: space-between;
}

.settings_modal_title_band h2 {
    margin: 20px;
    font-size: 30px;
    font-weight: normal;
}

.close_modal_button {
    cursor: pointer;
    padding-top: 7px;
    margin: 15px;
}

.divider_line {
    height: 3px;
    background-color: #A3AAD9;
}

.settings_modal_content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.settings_change_label {
    word-break: break-word;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 20px;
}

.settings_tab_content {
    margin-inline: auto;
    width: 80%;
    height: 100%;
}

.settings_button_sidenav {
    height: 100%;
    width:20%;
    display: flex;
    flex-direction: column;
}

.settings_button_sidenav button {
    height: 40px;
    border-radius: 10px;
    width: 50%;
    border: 1px solid #8884d8;
    font-size: 20px;
    margin-inline: auto;
    margin-bottom: 25px;
    transition: background-color 0.3s ease;
}

.settings_button_inactive {
    color: #8884d8;
    background-color: white;
}

.settings_button_active {
    background-color: #8884d8;
    color: white;
}

.settings_tab_rows {
    margin-inline: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.settings_tab_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.settings_tab_row button {
    cursor: pointer;
    min-height: 40px;
    height: fit-content;
    border-radius: 10px;
    min-width: 100px;
    max-width: 200px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    margin-inline: auto;
}

.settings_tab_row_button {
    background-color: #fff;
    color: #8884d8;
    border: 1px solid #8884d8;
}

.settings_tab_row_button:hover {
    color: #fff;
    background-color: #8884d8;
}

.settings_tab_row div {
    width: 70%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

.delete_account_button {
    background-color: #a10000;
    color: white;
    border: 1px solid #a10000;
    padding: 10px;
}

.delete_account_button:hover {
    color: #a10000;
    background-color: white;
    border: 1px solid #a10000;
}

.settings_profile_picture {
    vertical-align: middle;
}

.settings_top_tabs_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    font-size: 20px;
}

.settings_top_tab_button_active, .settings_top_tab_button_inactive {
    padding: 10px;
    text-align: center;
    width: 50%;
    border-top: 3px solid #8884d8;
    border-bottom: 3px solid #8884d8;
    font-weight: bold;
}

.settings_top_tab_button_active {
    color: white;
    background-color: #8884d8;
}

.settings_top_tab_button_inactive {
    color: #8884d8;
    background-color: white;
}