.bar-chart-component {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  max-width: 100%;
  padding: 20px;
}

.bar-chart-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-controls {
  display: flex;
  align-items: center;
}

.year-dropdown, .chart-type-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.chart-type-button {
  margin-left: 10px;
}


.bar-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 100%;
}

.no_content_text {
  color: #888;
  font-size: 14px;
}

@media (max-width: 768px) {
  .bar-chart-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-controls {
    width: 100%;
    margin-top: 10px;
  }

  .year-dropdown, .chart-type-button {
    width: 100%;
    font-size: 14px;
  }

  .bar-chart-wrapper {
    padding: 0;
  }
}
