.highest-spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    min-height: 300px; /* Set a minimum height */
    max-height: 600px;
    width: fit-content;
  }
  
.high_spend_container
{
  /*max-width: 90vw;*/
  height: 200px;
  overflow-y: scroll;
}

.highest-spending h2 {
    width: 90%;
}

.highest-spending div {
  justify-self: center;
  width: fit-content;
  height: auto;
  color: #5661AC;
  border-radius: 20px;
  display: block;
  word-wrap: break-word;
  border: 3px dotted #ccc;
  padding: 5px;
  margin-inline: auto;
    margin-bottom: 10px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
  