.highest-spending {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    min-height: 400px; /* Set a minimum height */
    max-height: 700px;
  
    max-width: 320px;
    min-width: 220px;
    width: auto;
  }
  
.high_spend_container
{
  width: auto;
  min-height: 300px; /* Set a minimum height */
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

  .highest-spending h3 {
    justify-self: center;
    max-width: 300px;
    min-width: 170px;
    height: auto;
    overflow: hidden;
    color: #5661AC;
    border-radius: 20px;
    margin:15px;
    display: block;
    font-size: 1.25rem;
    word-wrap: break-word;
    border: 3px dotted #ccc; 
    padding: 5px;
    
  }

  

/* Meant for when dynamic input is given Perhaps truncate after couple characters like 25 */
  .highest-spending h3.dynamic
  {
    white-space: normal;
  }
  