/* MainPieChart.css */

.main-pie-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:90%;
    padding: 20px;
    box-sizing: border-box;
}

.Category_spend_txt {
    text-align: center;
    width: fit-content;
    margin: 10px 0;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.chart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highest-category {
    text-align: center;
    margin-top: 15px;
    font-size: 1.2rem;
    color: #555;
}

.no_content_text {
    color: #888;
    font-size: 1rem;
    margin-top: 20px;
}
