.recent-transactions {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /*width: 100%;*/
  min-height: 300px; /* Set a minimum height */
  max-height: fit-content;
  /*margin-inline: auto;*/
}

.transactions-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-button {
  background-color: #8884d8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button svg {
  width: 18px;
  height: 18px;
}

.add-button:hover {
  background-color: #6b5fb5;
}



.transactions-list {
  
  background-color: #D9D9D9;
  width: 100%;
  height: 500px;
  /*margin: 10px 10px 10px 10px;*/
  border-radius: 5px;
  overflow-y: auto;
}

/* THIS PART WILL BE TESTING OF HOVERING OVER scollwheel thingy */
/* .transactions-list::-webkit-scrollbar 
{
  width: 0;
}

.transactions-list:hover::-webkit-scrollbar 
{
  width: 8px;
}

.transactions-list::-webkit-scrollbar-track 
{
  background:transparent;
}

.transactions-list::-webkit-scrollbar-thumb 
{
  background: rgba(168, 31, 31, 0.3);
  border-radius: 10px;
}

.transactions-list:hover::-webkit-scrollbar-thumb:hover
{
  background: rgba(196, 8, 8, 0.5);
} */

/* END OF SCROLL TESTING didnt work :( */



/* This seems to be each item part  */
.transaction {
  background-color: #F2F4F7;
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-inline: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
}
/* This seems to be the money sign part  */
.transaction span {

  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 10px;
}
.transaction_amount
{
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {

  .transaction {
    text-align: center;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-inline: auto;
    border-radius: 20px;
  }

  .transaction span {
    margin-inline: auto;
    padding: 5px;
    max-width: 90%;
  }


}