.App {
    height: auto;
    width: auto;
    color: black;
    background-image: url("./Assets/Background.png");
    background-repeat: repeat;
}

/* Changed height and width to auto
    then make sure your container 
    makes use of height and width so it can adjust accoridingly
*/