@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

.App {
    height: auto;
    width: auto;
    color: black;
    background-image: url("./Assets/Background.png");
    background-repeat: repeat;
}

.icon_button {
    cursor: pointer;
}

.no_content_text {
    color: black;
    margin-top: 100px;
    text-align: center;
    margin-inline: auto;
    max-width: 80%;
    margin-bottom: 89px;
}

.notice_container {
    background-color: white;
    border: 2px solid #A3AAD9;
    border-radius: 10px;
    width: 90vw;
    max-width: 400px;
    height: fit-content;
    padding-bottom: 30px;
    margin-top: 30vh;
    margin-inline: auto;
}

.notice_title {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    word-break: break-word;
    text-align: center;
    margin-inline: auto;
    color: #5661AC;
}

.notice_text {
    font-size: 25px;
    width: 90%;
    word-break: break-word;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 20px;
    color: #5661AC;
}